* {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
 }

 .formcontainer {
 	position: relative;
 	top: 100px;
 	left: 400px;
 	width: 400px;
 }

 body {
	background-color: #3399ff;
}

header {
	border: 1px solid black;
}

.logo {
	height: 35px;
	width: 150px;
	position: relative;
	left: 25%;
	border: 1px solid black;
}

.signup {
	background-color: white;
}

.login-info {
	
}

.login-info label {

}