* {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
 }

 .formcontainer {
 	position: relative;
 	top: 100px;
 	left: 400px;
 	width: 400px;
 }

 body {
	background-color: #3399ff;
}

header {
	/*border: 1px solid black;*/
}

.logo {
	height: 35px;
	width: 150px;
	position: relative;
	left: 25%;
	margin-bottom: 10px;
	/*border: 1px solid black;*/
}

.signup {
	background-color: white;
	border: none;
}

h3 {
	text-align: center;
	font-size: 35px;
	font-weight: normal;
}

.login-info {
	margin-left: 20px;
	border: none;
}

.label {
	height: 40px;
	width: 320px;
	padding: 15px;
	border: 2px solid #EEEEEE;
}

.submit {
	border: none;

}

