* {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
 }

 body {
	background-color: #3399ff;
}

header {
	border: 1px solid black;
	padding: 35px 0 0 550px;
}

header img {
	height: 35px;
	width: 150px;
}

.signup {
	background-color: white;
	width: 400px;
	height: 250px;
}

.login-info {
	height: 250px;
}

.login-info label {
	padding: 300px;

}